* {
    margin: 0;
    padding: 0;
    background-color: #DDF2FD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #164863;
}

h3 {
    color: #427D9D;
}

#main {
    margin: auto;
    width: 50%;
}