/******* Edit Bootstrap Themes ********/

$primary: #0059ff;
$secondary: #6c757d;
$light: #ffffff;
$dark: #343a40;

$body-bg: $light;
$body-color: $secondary;
$headings-color: $dark;
$display1-size: 10rem;
$enable-responsive-font-sizes: true;
$enable-shadows: true;

$font-family-sans-serif: "Montserrat", sans-serif;
$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

@import "bootstrap/scss/bootstrap";

/********** Custom SCSS ************/
.glow {
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #2471ff;
    }
    to {
        text-shadow: 0 0 30px #0059ff;
    }
}

.text-justify {
    text-align: justify;
}

h1 {
    font-weight: 900 !important;
}
h2,
h3 {
    font-weight: 700 !important;
}
h4,
h5 {
    font-weight: 500 !important;
}
h6 {
    font-weight: 400 !important;
}

.btn {
    border-radius: 100px;
}

.btn-social {
    width: 45px;
    height: 45px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 45px;
    color: #343a40;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-to-bottom {
    position: fixed;
    width: 20px;
    left: calc(50% - 10px);
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

.back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    text-align: center;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.navbar-light,
nav {
    display: none;
}

.navbar-brand {
    margin: 0 auto;
}

@media (min-width: 992px) {
    .navbar-brand {
        display: none !important;
    }
}

.navbar-light .navbar-nav .nav-link {
    padding: 25px 10px;
    color: $dark;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: $primary;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.progress {
    border-radius: 10px;
}

.progress .progress-bar {
    width: 0px;
    border-radius: 10px;
    transition: 2s;
}

h1 {
    letter-spacing: 0.05rem;
}

@media (max-width: 768px) {
    h1 {
        -webkit-text-stroke: 1px #ffffff !important;
        letter-spacing: 0.1rem !important;
        font-size: calc(1.5rem + 3.3vw);
    }
}
